/*  very small devices */
@media only screen and (max-width : 240px)  {
    #beer_result_wrap { width: 86%; font-size: 1.5em; height: 272px; max-height: 60%; margin-left: 7%; }
    #beer_result_bad p, #beer_result_good p { font-size: 14px !important; }
    #close_beer_result, #send_location { font-size: 16px; }
    #check_for_a_beer { font-size: 1.1em; }
    #nav a { padding: 0.7em 0.6em !important; }
    .countdownHolder { font-size: 1.5em; }
}

/*  small devices */
@media only screen and (max-width : 310px)  {
    #beer_result_wrap { width: 90%; font-size: 2.1em; height: 272px; max-height: 72%; margin-left: 5%; }
    #beer_result_bad p, #beer_result_good p { font-size: 19px !important; }
    #close_beer_result, #send_location { font-size: 19px; }
    #check_for_a_beer { font-size: 1.3em; }
    .countdownHolder { font-size: 1.8em; }
}

/*  smartphones */
@media only screen and (max-width : 400px)  {
	#beer_result_wrap { font-size: 2.3em; height: 280px; }
    .countdownHolder { font-size: 2em; }
}



/**** min-width 640 ****/
@media only screen and (min-width : 640px)  {
    body { min-width:640px; }
    .container { max-width:95%; }
    .\38 u { text-align: center !important; }
    #beer_big img, #top span#beer_big { max-width: 100%; }
    #check_for_a_beer { padding: 1.2em 1em; margin-top:1em; }
    #load-more { float: none; width: 50%; margin-left: 3.2%; margin-top: 1em; }
    #beer_result_wrap { height: 390px; font-size: 3em; padding-top: 1em; }
    .eigene_werbung { text-align: left; margin-left: 11%; width: 45%; }
    .impressum { display: inline-block !important; }
    .hideforsmall { display:block;}
    .hidefordesktop { display:none; }
    .wrapper.first { padding-bottom: 4em; }
}
/*#werbe_slideshow { margin-top: 4em; }margin-left: 18%; width: 33%;*/

/**** min-width 768 ****/
@media only screen and (min-width : 768px)  {
.eigene_werbung { margin-left: 14%; }
}

/**** min-width 860 ****/
@media only screen and (min-width : 840px)  {
.eigene_werbung { margin-left: 15%; }
}

/**** min-width 900 ****/
@media only screen and (min-width : 900px)  {
.eigene_werbung { margin-left: 16%; }
}

/**** min-width 950 ****/
@media only screen and (min-width : 950px)  {
.eigene_werbung { margin-left: 17%; }
}

/**** min-width 1024 ****/
@media only screen and (min-width : 1024px)  {
   body { 
       width:1024px; 
       box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
       margin: auto;
   }
   .toast { width:85%; }
}

/**** min-width 1100 ****/
@media only screen and (min-width : 1100px)  {
	.eigene_werbung { margin-left: 16%; }
	.toast { width:80%; }
	#beer_result_wrap { height: 430px; width: 50%; left: 25%; }
}

/**** min-width 1200 ****/
@media only screen and (min-width : 1200px)  {
	.eigene_werbung { margin-left: 14%; }
	.toast { width:75%; }
}

/**** min-width 1280 ****/
@media only screen and (min-width : 1280px)  {
	.eigene_werbung { margin-left: 12.5%; }
	.toast { width:65%; }
}

/**** min-width 1500 ****/
@media only screen and (min-width : 1500px)  {
	.eigene_werbung { margin-left: 11%; }
	.toast { width:58%; }
}

/**** min-width 1600 ****/
@media only screen and (min-width : 1600px)  {
	.eigene_werbung { margin-left: 10%; }
	.toast { width:50%; }
}
